<template>
	<div class="display-tile">
		<span class="index">{{ index + 1 }}</span>
		<input
			v-if="data.token === '?'"
			class="token"
			maxlength="1"
			v-model="userDef"
			required
		/>
		<div v-else class="token">{{ data.token }}</div>
		<label class="optional meta" hidden>
			<input type="checkbox" v-model="optional" />
			<span>optional</span>
		</label>
		<button class="remove-button meta" @click="$emit('remove-token')">
			remove
		</button>
	</div>
</template>

<script>
export default {
	name: 'DisplayTile',
	props: ['data', 'index'],
	data() {
		return {
			optional: false,
			userDef: '',
		};
	},
	watch: {
		optional(newVal) {
			this.$emit('change-optional', newVal);
		},
		userDef(newVal) {
			this.$emit('change-userDef', newVal);
		},
	},
};
</script>

<style>
.display-tile {
	background: #efefef;
	color: black;
	border: 2px solid;
	margin: 4px;
	margin-top: 12px;
	padding: 4px;
	border-radius: 4px;
	width: 5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display-tile .index {
	font-size: 0.8rem;
	align-self: start;
	position: absolute;
	top: 0;
}

.display-tile .token {
	margin-top: 16px;
	font-weight: bold;
}

.display-tile > input {
	border: 1px solid;
	border-radius: 2px;
	width: 1.5rem;
	text-align: center;
	font-size: 1.1rem;
}

.display-tile .remove-button {
	border: none;
	background: none;
	opacity: 0.7;
	font-size: 0.7rem;
}

.display-tile .meta {
	border-top: 1px solid lightgrey;
	margin-top: 4px;
	padding-top: 2px;
}

.display-tile .remove-button:hover {
	opacity: 1;
	cursor: pointer;
}

.display-tile .optional input {
	margin: 0;
	margin-right: 4px;
}

.display-tile .optional span {
	font-size: 0.7rem;
	opacity: 0.7;
}
</style>
