<template>
	<div>
		<h1>Test Text:</h1>
		<div class="textarea" tabindex="0" ref="textarea" contenteditable="true"></div>
		<h1>Results:</h1>
		<div v-if="this.splits.length === 0">Enter some test text to see the results!</div>
		<div v-else class="results" ref="results">
			<span
				v-for="(split, idx) in splits"
				:key="idx"
				:class="split.match ? 'match' : ''"
			>{{ split.text }}</span>
		</div>
	</div>
</template>

<script>
function throttle(callback, interval, { trailing = true } = {}) {
	let enableCall = true;
	let lastDisabledCallArgs = null;

	return function throttledCall(...args) {
		if (!enableCall) {
			lastDisabledCallArgs = args;
			return;
		}
		lastDisabledCallArgs = null;

		enableCall = false;
		callback.apply(this, args);
		setTimeout(() => {
			enableCall = true;
			if (trailing && lastDisabledCallArgs) {
				throttledCall(lastDisabledCallArgs);
			}
		}, interval);
	};
}

export default {
	name: 'TestViewer',
	props: ['tokens'],
	data() {
		return {
			splits: [],
		};
	},
	mounted() {
		const targetNode = this.$refs.textarea;
		const config = {
			characterData: true,
			attributes: false,
			childList: true,
			subtree: true,
		};
		const throttledChange = throttle(this.onChangeText, 500);
		const observer = new MutationObserver(throttledChange);
		observer.observe(targetNode, config);
	},
	watch: {
		tokens: {
			deep: true,
			handler() {
				this.onChangeText();
			},
		},
	},
	methods: {
		charMatchesToken(char, { token, userDef } = {}) {
			if (!token) return false;
			else if (token === '*') return true;
			else if (token === 'a-z') return /[a-zA-Z]/.test(char);
			else if (token === '0-9') return /[0-9]/.test(char);
			else if (token === '_') return /[ ]/.test(char);
			else return char === userDef;
		},
		onChangeText() {
			const splits = [];
			let pendingNonmatch = '';
			let pendingMatch = '';
			let activeToken = 0;
			if (this.$refs.textarea.innerText === '\n') return (this.splits = splits);
			for (
				let charIdx = 0;
				charIdx < this.$refs.textarea.innerText.length;
				charIdx++
			) {
				const char = this.$refs.textarea.innerText[charIdx];
				if (this.charMatchesToken(char, this.tokens[activeToken])) {
					activeToken = (activeToken + 1) % this.tokens.length;
					pendingMatch += char;
					if (activeToken === 0) {
						if (pendingNonmatch.length) {
							splits.push({ match: false, text: pendingNonmatch });
							pendingNonmatch = '';
						}
						splits.push({ match: true, text: pendingMatch });
						pendingMatch = '';
					}
				} else {
					if (activeToken > 0) {
						pendingNonmatch += pendingMatch[0];
						charIdx -= pendingMatch.length;
						pendingMatch = '';
						activeToken = 0;
					} else {
						pendingNonmatch += char;
					}
				}
			}
			if (pendingMatch.length) {
				pendingNonmatch += pendingMatch;
			}
			if (pendingNonmatch.length) {
				splits.push({ match: false, text: pendingNonmatch });
			}

			this.splits = splits;
		},
	},
};
</script>

<style scoped>
.textarea {
	border-radius: 2px;
	border: 2px solid black;
	width: 100%;
	height: 5rem;
	padding: 4px;
	white-space: pre;
	overflow: hidden;
}

.results {
	white-space: pre;
}

.results .match {
	background: lightgreen;
	margin: 0 1px;
	padding: 0 2px;
	border: 1px solid green;
	border-radius: 2px;
}
</style>
