<template>
	<button class="token-tile" @click="$emit('select-token', token)">
		<div class="token">{{ token }}</div>
		<div class="key">{{ label }}</div>
	</button>
</template>

<script>
export default {
	name: 'TokenTile',
	props: ['token', 'label'],
};
</script>

<style>
.token-tile {
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
	border: 2px solid;
	height: 5rem;
	width: 5rem;
	display: grid;
	grid-auto-rows: 1fr;
	text-align: center;
	align-items: center;
	background: #efefef;
	cursor: pointer;
}

.token-tile:hover {
	transform: scale(1.05);
}

.token-tile .token {
	font-weight: bold;
	font-size: 1.5rem;
}

.token-tile .key {
	text-transform: uppercase;
	font-size: 0.7rem;
}
</style>
