<template>
	<div class="token-viewer">
		<h1>Pattern:</h1>
		<div v-if="tokenList.length === 0">Select one of the options from the picker.</div>
		<div v-else class="viewer-tile-list">
			<display-tile
				v-for="(token, tokenIndex) in tokenList"
				:key="token + tokenIndex"
				:index="tokenIndex"
				:data="token"
				@remove-token="$emit('remove-token', tokenIndex)"
				@change-optional="$emit('change-optional', { index: tokenIndex, newVal: $event })"
				@change-userDef="$emit('change-userDef', { index: tokenIndex, newVal: $event })"
			></display-tile>
		</div>
	</div>
</template>

<script>
import DisplayTile from './DisplayTile';

export default {
	name: 'TokenViewer',
	props: ['tokenList'],
	components: {
		DisplayTile,
	},
};
</script>

<style>
.viewer-tile-list {
	display: flex;
	flex-wrap: wrap;
}
</style>
