<template>
	<div class="token-picker">
		<h1>Picker</h1>
		<ul class="token-tile-list">
			<li v-for="(token, key) in tokens" :key="key">
				<token-tile
					@select-token="$emit('select-token', $event)"
					:label="key | prettyKey"
					:token="token"
				></token-tile>
			</li>
			<li>
				<token-tile @select-token="$emit('select-token', $event)" label="user defined" token="?"></token-tile>
			</li>
		</ul>
	</div>
</template>

<script>
import TokenTile from './TokenTile';

const TOKENS = Object.freeze({
	ANY: '*',
	WORD_CHAR: 'a-z',
	NUMBER: '0-9',
	SPACE: '_',
});

export default {
	name: 'TokenPicker',
	components: { TokenTile },
	data() {
		return {
			tokens: TOKENS,
		};
	},
	filters: {
		prettyKey(key) {
			return {
				ANY: 'any',
				WORD_CHAR: 'word character',
				NUMBER: 'number',
				SPACE: 'space',
			}[key];
		},
	},
};
</script>

<style>
.token-tile-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
</style>

