<template>
	<div id="app">
		<token-picker @select-token="tokenList.push({ token: $event })"></token-picker>
		<token-viewer
			@remove-token="onRemoveToken"
			@change-optional="onChangeOptional"
			@change-userDef="onChangeUserDef"
			:token-list="tokenList"
		></token-viewer>
		<test-viewer v-show="tokenList.length > 0" :tokens="tokenList"></test-viewer>
	</div>
</template>

<script>
import TokenPicker from './components/TokenPicker';
import TokenViewer from './components/TokenViewer';
import TestViewer from './components/TestViewer';

export default {
	name: 'App',
	components: {
		TokenPicker,
		TokenViewer,
		TestViewer,
	},
	data() {
		return {
			tokenList: [],
		};
	},
	methods: {
		onRemoveToken(index) {
			this.tokenList.splice(index, 1);
		},
		onChangeOptional({ index, newVal }) {
			this.tokenList[index].optional = newVal;
		},
		onChangeUserDef({ index, newVal }) {
			this.tokenList[index].userDef = newVal;
		},
	},
};
</script>

<style>
* {
	position: relative;
	box-sizing: border-box;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

h1,
h2,
h3 {
	margin: 0;
	margin-top: 1rem;
}

ul {
	margin: 0;
}
</style>
